.container {
    margin: 10px 5px;
    display: flex;
    align-items: center;
    background-color: #F7FAFC;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
}

.content input {
    margin-left: 15px;
}

.content input[type="checkbox"] {
    transform: scale(1.5);
    flex-shrink: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_field {
    padding: 5px;
    border: none;
    background-color: transparent;
    font-size: 17px;
    width: 100%;
    font-weight: 600;
}

.input_field:focus {
    outline: solid 2px transparent;
}

.title {
    margin: 5px;
    padding: 5px 10px;
    font-size: 17px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.delete_button {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    color: #f4f4f4;
    background-color: #FF6B6B;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
}

.delete_button:hover {
    background-color: #FF4B4B;
}

.delete_button:active {
    background-color: #E64949;
}

.update_button {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    color: #f4f4f4;
    background-color: #FFA733;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
}

.update_button:hover {
    background-color: #FF8F00;
}

.update_button:active {
    background-color: #E88100;
}

.save_button {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    color: #f4f4f4;
    background-color: #48BB78;
    cursor: pointer;
    margin: 5px;
    padding: 15px;
}

.save_button:hover {
    background-color: #38A169;
}

.save_button:active {
    background-color: #2F855A;
}

.icon {
    width: 22px;
}

.completed {
    text-decoration: line-through;
    color: rgb(0, 0, 0, 0.5);
    font-weight: 600;
}


@media (max-width: 780px) {

    .delete_button,
    .save_button,
    .update_button {
        font-size: 15px;
        padding: 5px 10px;
        margin: 2px 4px;
        border-radius: 2px;
    }

    .icon {
        width: 18px;
    }

    .buttons {
        flex-direction: column;
    }

    .title {
        font-size: 15px;
    }

    .input_field {
        font-size: 15px;
    }

    input[type="checkbox"] {
        transform: scale(1.2);
        margin: 0;
        margin-left: 10px;
    }
}