.white-box {
    background-color: RGB(244, 244, 244, 0.6);
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    height: 100%;
    /* minus top and bottom padding */
    width: calc(100% - 100px);
    /* minus left and right padding */
    max-width: 780px;
    padding: 10px;
    /* box will maintain this width even on smaller screens */
}

@media (max-width: 780px) {
    .white-box {
        height: 100%;
        width: 100%;
    }
}