body {
  background: linear-gradient(to bottom, #B8C6DB, #6B8DAB, #2F5E82, #2C3E50, #BDC3C7);
}

ul {
  list-style: none;
}

.app-container {
  background: linear-gradient(to bottom, #B8C6DB, #6B8DAB, #2F5E82, #2C3E50, #BDC3C7);
  height: 100vh;
  min-height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #B8C6DB, #6B8DAB, #2F5E82, #2C3E50, #BDC3C7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
}

.sub-container {
  overflow: auto;
}

.content-row {
  display: flex;
  align-items: center;
}

.content-column {
  display: flex;
  flex-direction: column;

}

.main-button {
  border: none;
  cursor: pointer;
  background-color: #2D3748;
  color: #EDEDED;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
  padding: 15px 20px;
  margin: 5px;
}

.main-button:hover {
  background-color: #1A202C;
}

.main-button:active {
  background-color: #171923;
}

.title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 5px;
}

@media (max-width: 480px) {
  .content-wrapper {
    padding: 5px;
  }
}


@media (max-width: 780px) {
  .main-button {
    padding: 8px 14px;
  }

  .title {
    font-size: 12px;
  }

  .content-wrapper {
    padding: 15px;
  }
}