ul {
  list-style: none;
}

.app-container {
  background: linear-gradient(to bottom, #68a8d8, #5393c5, #3e7fb2, #296b9f, #2471a3);
  height: 100vh;
  min-height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #68a8d8, #5393c5, #3e7fb2, #296b9f, #2471a3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
}

.content-row {
  display: flex;
  align-items: center;
}

.content-column {
  display: flex;
  flex-direction: column;

}

.main-button {
  border: none;
  cursor: pointer;
  background-color: black;
  color: #f4f4f4;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
  padding: 15px;
  margin: 5px;
}

.main-button:hover {
  background-color: rgb(29, 29, 29);
}

.main-button:active {
  background-color: rgb(43, 42, 42);
}

.title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 5px;
}

@media (max-width: 780px) {
  .main-button {
    padding: 10px;
  }

  .title {
    font-size: 18px;
  }

  .content-wrapper {
    padding: 25px;
  }
}